<% stylesheet_link_tag 'stories', property: 'stylesheet' %>
<% javascript_include_tag 'stories' %>

 <!-- TODO change later, for testing -->
 <!-- <div class='container' ng-init= "currentStory = '<%= @currentStory %>'"  ng-model='currentStory'> -->
 <div class='container'>
  <ui-view></ui-view>
</div>
