<% stylesheet_link_tag 'stories', property: 'stylesheet' %>
<% javascript_include_tag 'stories' %>

 <div class='container'>
   <h1>RAILS INTEGRATION TEST</h1>
  <ui-view></ui-view>

  after UI view
</div>
