
.page-play-content {
  width: 600px;
}

.page-play-choice {
  margin-left: auto;
  margin-right: auto;
//  display: block;
//  text-align: center;
//  margin: auto;
//  width: 20%;
//  text-align: center;
  
}
