<div>
  <span><input type='text' ng-model="page.branches[$index].choice_text">
    <span class='btn btn-primary ion-eye story-btn' ng-show="page.branches[$index]" ng-click='navToChildPage($index)' title = 'view page'></span>
    <span class='btn btn-danger ion-trash-b story-btn' ng-click='deleteBranch($index)' title = 'delete page'></span>
  </span>
</div>
