<span><b>Choice {{$index+1}}:</b> </span> <input type='text' ng-model="page.branches[$index].choice_text">

  <span class='btn btn-danger' ng-click='deleteBranch($index)'>Delete</span>
  <!-- TODO add highlight for enabled/disabled -->
  <span class='btn btn-warning' ng-show="page.branches[$index]" ng-click='editPage($index)'>View Page</span>
 </span>
