<h1>Create New Story</h1>


<div class="story_create_container">
  <form ng-submit='submit()'>

    <span>Title: </span> <input type='text' ng-model='title'> <br />
    <!-- TODO by default have summary be truncated description -->
    <span>Summary (WIP)</span> <br />
    <span>Description: </span> <input type='text' ng-model='description'> <br />
    <span>Summary: </span> <input type='text' ng-model='summary'> <br />
    <span>Keywords (WIP)</span> <br />
    <!-- TODO button to save story -->
    <!-- goes to first page -->
    <!-- click button to create new option -->
    <!-- $state.go to page edit -->
  </form>

  <button class="btn btn-success" type="button" ng-click="submit()">Submit</button>
</div>
