<h1>Create New Story</h1>


<div class="story_create_container">
  <form ng-submit='submit()'>
    <span>Title: </span> <input type='text' ng-model='storyTitle'>
    <span>Description: </span> <input type='text' ng-model='storyTitle'>
    <span>Title: </span> <input type='text' ng-model='storyTitle'>
    <!-- TODO button to save story -->
    <!-- goes to first page -->
    <!-- click button to create new option -->
    <!-- $state.go to page edit -->
  </form>
</div>
