<h1>Mode Selection (Testing)</h1>

<div class='btn btn-info' ui-sref='play({story_id: 1})'>Story Navigation</div>
<!-- <div class='btn btn-info' ui-sref='play'>Story Navigation</div> -->
<div class='btn btn-info' ui-sref='create_story' >Create Story</div>
