<div ng-controller='LoginCtrl' id='login'>
  <form ng-submit='login()'>
    <div ng-hide='currentUser'>
      <span>username:<input type='text' ng-model='usernameInput' />password:<input type='password' ng-model='passwordInput' /></span>
      <div class='btn btn-success' ng-click='login()'>Login</div>
      <div class='btn btn-success' ng-click='signUp()' >Sign up</div>
    </div>
    <div ng-show='currentUser'>
      <span><b>Welcome Back {{currentUser.username}}!</b> <div class='btn btn-warning' ng-click='logOut()'>Logout</div> </span>
    </div>
  </form>
</div>
