<h1>Edit Page</h1>

<span class='btn btn-success' ng-click='navToParentStory()'>Parent Story</span>

<div ng-show = "fromChoiceText">
  From Choice = {{ fromChoiceText }}
</div>

<div ng-show='parentPage'>
  <span class='btn btn-success' ng-click='navToParentPage()'>Parent Page</span>
</div>

<div ng-show='siblingPages'>
  <b>Sibling Pages (list)</b>
  <ul>
    <li ng-repeat='s in siblingPages'>
      {{ s.title }}
    </li>
  </ul>
</div>

</b>

<!-- TODO rename to generic container -->
<div class="page_create_container">
  <form ng-submit='submit()'>
    <span>Title: </span> <input type='text' ng-model='page.title'> <br />
    <!-- <span>Summary (WIP)</span> <br /> -->
    <span>Content: </span> <input type='text' ng-model='page.content'> <br />

    <!-- REVIEW why doesn't this work as a css class? -->
    <ul style='list-style-type:none'>
      <li ng-show = 'page.branches.length > 0' ng-repeat='choice in page.branches track by $index' ng-include="'choice_input.html'"> </li>
    </ul>

    <!-- TODO styling w/o spaces -->
    <span>New Choice:</span><input type='text' ng-model='choiceText' />  <span class='btn btn-success' ng-click='createBranch()'>Create</span>
  </form>


  <!-- TODO switch between update or submit based on state of page (COSMETIC) -->
  <button class="btn btn-success" type="button" ng-click="submit()">Update</button>
</div>

<div class='alert alert-success' ng-show='pageSaved'><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Page Saved! </div>
