<div >
  <h1>{{ currentStory.title }}</h1>

  </br>

  <div >
    {{ currentPage.content }}
  </div>

  <!-- TODO move styling to CSS -->
  <ul style='list-style-type:none'>
    <li ng-repeat='choice in currentPage.branches'>
      <span class='btn btn-info' ng-click='setPage(choice)'>{{$index + 1}}. {{choice.choice_text }}</span>
    </li>
  </ol>
</div>
