<div >
  <h1>{{ currentStory.title }}</h1>

  </br>

  <div >
    {{ currentPage.content }}
  </div>

  <!-- REVIEW why doesn't this work as a css class? -->
  <ul style='list-style-type:none'>
    <li ng-repeat='choice in currentPage.branches'>
      <span id="choice-{{$index}}" class='btn btn-info' ng-click='setPage(choice)'>{{$index + 1}}. {{choice.choice_text }}</span>
    </li>
  </ul>
</div>
