<h1>{{ currentStory.title }}</h1>

<div class='page-play-content'>
  <div ng-bind-html='currentPage.content'></div>

  <ul class='list-no-bullets'>
    <li ng-repeat='choice in currentPage.branches'>
      <span id="choice-{{$index}}" class='page-play-choice btn btn-info' ng-click='setPage(choice)'>{{$index + 1}}. {{choice.choice_text }}</span>
    </li>
  </ul>
</div>