<div class='story_button_set'>
  <span class='btn btn-info ion-ios-book story-btn' ui-sref='play({story_id: story.id})' title='play adventure'></span>
  <span class='btn btn-success ion-edit story-btn' ui-sref='edit_story({story_id: story.id})' title='edit story'></span>
  <span class='btn btn-danger ion-trash-b story-btn' ng-click='deleteStory(story.id)' title='delete story'></span>
</div>