<div class='story-preview-title'>{{ currentStory.title }}</div>
<div class='story-preview-author'>by {{ currentStory.user.username}}</div>

<div class='story-preview-description'> {{ currentStory.description }} </div>

<div class='play-story-btn'>
  <div class='btn btn-default' ng-click='startAdventure()'> Begin Adventure </div>
</div>
