<h1 ng-hide='currentStory'>Create New Story</h1>
<h1 ng-show='currentStory'>Edit Story - {{currentStory.title}}</h1>

<div class="story_create_container">
  <form ng-submit='submit()'>

    <span>Title: </span> <input type='text' ng-model='title'> <br />
    <!-- TODO by default have summary be truncated description -->
    <span>Summary (WIP)</span> <br />
    <span>Description: </span> <input type='text' ng-model='description'> <br />
    <span>Summary: </span> <input type='text' ng-model='summary'> <br />
    <span>Keywords (WIP)</span> <br />
  </form>

  <button ng-hide='currentStory' class="btn btn-success" type="button" ng-click="submit()">Submit</button>
  <div ng-show='currentStory'>
    <button class="btn btn-success" type="button" ng-click="submit()">Update</button>
    <ul>
      <li ng-repeat='page in currentStory.pages track by $index'> {{page.title}}
        <span class='btn btn-warning' ui-sref='edit_page({story_id: currentStory.id, page_id: page.id } )'>Edit</span>
      </li>
    </ul>
  </div>
</div>
