<h1 ng-hide='currentStory'>Create New Story</h1>
<h1 ng-show='currentStory'>Edit Story - {{currentStory.title}}</h1>

<div class="story_create_container">
  <form ng-submit='submit()'>

    <span>Title: </span> <input type='text' ng-model='title'> <br />
    <span>Description: </span> <input type='text' ng-model='description'> <br />
  </form>

  <button ng-hide='currentStory' class="btn btn-success" type="button" ng-click="submit()">Submit</button>
  <div ng-show='currentStory'>
    <button class="btn btn-success" type="button" ng-click="saveDraft()">Save Draft</button>
    <button class="btn btn-info" type="button" ng-click="publish()" ng-disabled='incompletePages.length > 0'>Publish</button>
  </div>
</div>

<div ng-show='incompletePages'>
  <h1>Incomplete</h1>
  <ul>
    <li ng-repeat='page in incompletePages track by $index'> {{page.title}}
      <span class='btn btn-success ion-edit story-btn' ui-sref='edit_page({story_id: currentStory.id, page_id: page.id } )' title='edit page'></span>
    </li>
  </ul>

  <h1>Tree View</h1>
  <div ng-include="'branch_tree.html'"> </div>
</div>
