<span>{{data.page.title}}</span> <span class='btn btn-warning' ui-sref='edit_page({story_id: currentStory.id, page_id: data.page.id } )'>Edit</span>
<ul>
  <li ng-repeat='data in data.children' ng-include="'tree_element_renderer.html'"> </li>
</ul>
